@import 'tailwindcss';

@theme {
	--font-sans: Poppins, sans-serif;
}

@layer base {
	button:not(:disabled),
	[role='button']:not(:disabled) {
		cursor: pointer;
	}
}

@media (max-width: 48rem) {
	html {
		font-size: 14px;
	}
}

@font-face {
	font-family: 'Poppins';
	font-weight: 400;
	src:
		url('/fonts/poppins-regular.woff2') format(woff2),
		url('/fonts/poppins-regular.woff') format(woff);
}

@font-face {
	font-family: 'Poppins';
	font-weight: 500;
	src:
		url('/fonts/poppins-medium.woff2') format(woff2),
		url('/fonts/poppins-medium.woff') format(woff);
}

@font-face {
	font-family: 'Poppins';
	font-weight: 600;
	src:
		url('/fonts/poppins-semibold.woff2') format(woff2),
		url('/fonts/poppins-semibold.woff') format(woff);
}

@font-face {
	font-family: 'Poppins';
	font-weight: 700;
	src:
		url('/fonts/poppins-bold.woff2') format(woff2),
		url('/fonts/poppins-bold.woff') format(woff);
}
